@font-face {
    font-family: 'LondrinaSolid-Black';
    src: url('fontsLondrinaSolid-Black.ttf');
    src: url('fontsLondrinaSolid-Black.ttf').format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'monsterhunter';
    src: url('monsterhunter.ttf');
    src: url('monsterhunter.ttf').format('truetype');
    font-weight: normal;
    font-style: normal;

}

