@font-face {

    font-family: 'LondrinaSolid-Black';

    src: url('../gui/fontsLondrinaSolid-Black.ttf');

    src: url('../gui/fontsLondrinaSolid-Black.ttf').format('truetype');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'PatrickHand-Regular';

    src: url('../gui/PatrickHand-Regular.ttf');

    src: url('../gui/PatrickHand-Regular.ttf').format('truetype');

    font-weight: normal;

    font-style: normal;

}